$color1: rgb(254, 192, 69);
$color2: rgb(9, 145, 171);
$color3: rgb(7, 84, 112);
$color4: rgb(237,237,237);
$color5: rgb(181, 228, 251);
$color6: rgb(230, 173, 63);
$color1-opacity-50: rgba(254, 192, 69, 0.5);
$color2-opacity-50: rgba(9, 145, 171, 0.5);
$color2-opacity-70: rgba(9, 145, 171, 0.7);
$primary: $color1;
$secondary: $color2;
$font-family-sans-serif: 'Noto Sans', sans-serif;
$swal2-confirm-button-background-color: $color1;