@use "../../styles/variables" as v;

.card {
  display: flex;
  flex-wrap: wrap;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background: #fff;
  flex: 1 1 30rem;
  .overlay {
    pointer-events: none;
  }
  .top-title {
    position: absolute;
    top: 1rem;
    left: 0;
    display: flex;
    font-weight: 500;
    font-size: 1.4rem !important;
    color: v.$color1 !important;
    background: rgba(0, 0, 0, 0.3) !important;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    margin-left: 1rem;
    cursor: default;
  }

  .top-img {
    position: relative;
    .img {
      object-fit: fill;
      transition: 0.2s linear;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
  .card-body1 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-size: 1.5rem;
    padding-bottom: 0.3rem;
    .card-text {
      color: v.$color6;
      padding-top: 0.5rem;
    }
    .card-link {
        padding: 0.5rem 1rem;
      color: v.$color3;
      border-radius: 0.5rem;
      align-items: center;
      background: v.$color4;
      transition: color 0.3s ease;

      &:hover {
        background: v.$color6;
        color: black;
      }
    }
  }
  .card-body2 {
    display: block;
    margin: 0rem;
    padding: 0 0;
    font-size: 1.2rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    padding-left: 1rem;
    .card-text {
      color: v.$color3;
      
    }
  }
  .card-body3 {
    display: flex;
    justify-content: space-around;
    margin: 0rem;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0;
    padding-left: 0;
    border: .1rem solid rgba(0, 0, 0, .1);
    .card-text {
        flex: auto;
      color: v.$color3;
      padding-left: 1rem;
    }
  }
}
